* {
    box-sizing: border-box;
}
body {
    /* height: 100%; */
    margin: auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.scds {
    margin-bottom: 70px;
}

h2 {
    margin: auto;
    margin-bottom: 5px;
    width: fit-content;
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: .20em solid var(--glow-color);
    padding: 15px;
    color: var(--glow-color);
    font-size: 25px;
    /* font-weight: bold; */
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .1em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .2em .1em var(--glow-color);
    text-shadow: 0 0 .3em var(--glow-color);
    position: relative;
    transition: all 0.3s;
   }
   
   h2::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .2;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
   }
   
   h2:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .2em var(--glow-color),
           0 0 2em 1em var(--glow-spread-color),
           inset 0 0 .5em .5em var(--glow-color);
   }
   
   h2:active {
    box-shadow: 0 0 0.6em .5em var(--glow-color),
           0 0 2.5em 1em var(--glow-spread-color),
           inset 0 0 .2em .5em var(--glow-color);
   }

.drop-box {
    margin: 0.5%;
    width: 65%;
    height: 160px;
    border: 4px solid gray;
    background-color:rgba(235, 235, 235, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-image: url("images/background-space.png");
    box-shadow:  2px 2px 4px #262525,
             -2px -2px 4px #ffffff;
}

.drop-zone {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    width: 70px;
    height: 65%;
    margin:auto;
    padding: 0;
    color:white;
    font-weight: bold;
    text-align:center;
    border: 2px solid lightgrey;
    border-radius: 50%;
    background: #e0e0e0;
    box-shadow:  4px 4px 6px #080808,
             -2px -2px 4px #ffffff;
}


.drag-box {
    position: absolute;
    background-color: rgba(244, 223, 200, 0.4);   
    height: auto;
    width: 97.9%;
    border: 4px solid lightslategray;
    border-radius: 25px;
    box-shadow: 2px 2px 4px #262525,
                -2px -2px -8px #ffffff;
    /* display: flex; */
    z-index: -1;
    /* margin: auto; */
    /* padding: 10px; */
}

.drag-item{
    position: relative;
    float: left;
    width: 65px;
    height: 95px;
    margin: 5px;
    padding: 7px;
    border: 1.5px solid lightgray;
    text-align:center;
    border-radius: 10px;
    border-radius: 50%;
    background: #e0e0e0;
    box-shadow:  2px 2px 2px #3f3e3e,
             -2px -2px 2px #ffffff;
}

.buttons {
       /* display: flex; */
       /* flex-direction: column; */
       /* width: 15%; */
       align-content: center;
       /* align-items: stretch; */
       padding: 0.5%;
}

/*startbutton*/
.start-button {
    margin-top: 8px;
    width: 100%;
    height: 40%;
    float: left;
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: .25em solid var(--glow-color);
    color: var(--glow-color);
    font-size: 20px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .1em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .2em .1em var(--glow-color);
    text-shadow: 0 0 .3em var(--glow-color);
    position: relative;
    transition: all 0.3s;
   }
   
   .start-button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
   }
   
   .start-button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .2em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .3em .3em var(--glow-color);
   }
   
   .start-button:active {
    box-shadow: 0 0 0.6em .4em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .4em .4em var(--glow-color);
   }

   
/*checkbutton*/
.check-button {
    width: 100%;
    height: 40%;
    margin-top: 15px;
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: .25em solid var(--glow-color);
    color: var(--glow-color);
    font-size: 20px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .1em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .2em .1em var(--glow-color);
    text-shadow: 0 0 .3em var(--glow-color);
    position: relative;
    transition: all 0.3s;
}
      
   .check-button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}
      
   .check-button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .2em var(--glow-color),
              0 0 4em 2em var(--glow-spread-color),
              inset 0 0 .2em .2em var(--glow-color);
}
      
.check-button:active {
    box-shadow: 0 0 0.6em .4em var(--glow-color),
              0 0 2.5em 2em var(--glow-spread-color),
              inset 0 0 .4em .4em var(--glow-color);
}

/*score*/
#score {
    text-align:center;
    width: 18%;
    margin: auto;
    /* margin-top: 20px; */
    /* margin-right: 15px; */
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: .25em solid var(--glow-color);
    padding: 30px;
    color: var(--glow-color);
    font-size: 20px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .1em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .2em .1em var(--glow-color);
    text-shadow: 0 0 .3em var(--glow-color);
    position: relative;
    transition: all 0.3s;
    z-index: -1;
   }
   
   #score::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: auto;
    width: auto;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
   }
    
   #score:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .2em var(--glow-color),
           0 0 2em 1em var(--glow-spread-color),
           inset 0 0 .1em .1em var(--glow-color);
   }

   #score:active {
    box-shadow: 0 0 0.6em .4em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .5em var(--glow-color);
   }
   
@media (max-width:660px) {
    .scds{
        display: flex;
         flex-direction: column;
         align-items: center;
         margin-bottom: 0;
         /* margin:auto; */
         /* width: fit-content; */
    }
    .buttons, .start-button, .check-button{
         margin: 0px;
         width: 100%;
    }
    #score{
      width: 100%;
      height: fit-content;
      padding: 1%;
      z-index: -1;
      margin-bottom: 0;
    }
    .drop-zone{
        width: 10%;
        height: 67px;
        font-size: 50%;
    }
    .drop-box{
        width: 100%;
        height: 100px;
        margin-bottom: 10%;
    }
    .drag-item {
        height: 55px;
        margin: 0.25%;
    }
    h2 {
        width: 100%;
        text-align: center;
        padding: 1%;
    }
}

@media (max-width:900px) {
    .drag-item {
        width: 40px;
    }
}

@media (max-width:490px) {
    body {
        width: fit-content;
    }
    .drag-item {
        width: 20px;
    }
    .drag-box {
        width: 250px;
    }
    .drop-box{
        margin-bottom: 20%;
    }
}