* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
/* h2 {
    text-align: center;
    width: 500px;
    height: 70px;
    border: 3px solid rgb(168, 168, 168);
    margin: auto;
    padding: 4px;
    font-size: 40px;
    margin-bottom: 10px;
    border-radius: 25%;
    border-radius: 41px;
    background: #e0e0e0;
    box-shadow:  2px 2px 4px #5b5959,
             0px 0px 0px #ffffff;
}*/
h2 {
    margin: auto;
    margin-bottom: 15px;
    width: fit-content;
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: .25em solid var(--glow-color);
    padding: 15px;
    color: var(--glow-color);
    font-size: 30px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .5em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .5em .2em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
   }
   
   h2::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .2;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
   }
   
   h2:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .5em var(--glow-color),
           0 0 2em 1em var(--glow-spread-color),
           inset 0 0 .5em .5em var(--glow-color);
   }
   
   h2:active {
    box-shadow: 0 0 0.6em .5em var(--glow-color),
           0 0 2.5em 1em var(--glow-spread-color),
           inset 0 0 .2em .5em var(--glow-color);
   }

.drop-box {
    margin:auto;
    margin-bottom: 60px;
    width: 65%;
    height: 170px;
    border: 4px solid gray;
    background-color:rgba(235, 235, 235, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-image: url("images/background-space1.png");
    box-shadow:  2px 2px 4px #262525,
             -2px -2px 4px #ffffff;
}

/*.drag-box {
    width: auto;
    background-color: lightgray;   
    width:100%;
    border: 0px solid lightslategray;
    border-radius: 25px;
    background: #e0e0e0;
    box-shadow: 2px 2px 4px #262525,
             -2px -2px -8px #ffffff;
}*/

.drop-zone {
    width: 85px;
    height: 130px;
    margin:auto;
    padding: 0;
    color:white;
    font-weight: bold;
    text-align:center;
    border: 2px solid lightgrey;
    border-radius: 15px;
    background: #e0e0e0;
    box-shadow:  4px 4px 6px #080808,
             -2px -2px 4px #ffffff;
}

.drag-item{
    float: left;
    width: 70px;
    height: 100px;
    margin: 7px;
    padding: 7px;
    border: 1.5px solid lightgray;
    text-align:center;
    border-radius: 10px;
    border-radius: 31px;
    background: #e0e0e0;
    box-shadow:  2px 2px 2px #3f3e3e,
             -2px -2px 2px #ffffff;
}

.buttons {
       display: flex;
       flex-direction:column;
}

/*startbutton*/
.start-button {
    width: 15%;
    height: 50%;
    margin: 15px;
    float: left;
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: .25em solid var(--glow-color);
    padding: 20px;
    color: var(--glow-color);
    font-size: 25px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .2em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .4em .2em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
   }
   
   .start-button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
   }
   
   .start-button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .5em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .5em .5em var(--glow-color);
   }
   
   .start-button:active {
    box-shadow: 0 0 0.6em .5em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .5em var(--glow-color);
   }

   
/*checkbutton*/
.check-button {
       width: 15%;
       height: 50%;
       margin-left: 15px;
       margin-top: 0;
       float: left;
       --glow-color: rgb(217, 176, 255);
       --glow-spread-color: rgba(191, 123, 255, 0.781);
       --enhanced-glow-color: rgb(231, 206, 255);
       --btn-color: rgb(100, 61, 136);
       border: .25em solid var(--glow-color);
       padding: 20px;
       color: var(--glow-color);
       font-size: 25px;
       font-weight: bold;
       background-color: var(--btn-color);
       border-radius: 1em;
       outline: none;
       box-shadow: 0 0 1em .2em var(--glow-color),
              0 0 4em 1em var(--glow-spread-color),
              inset 0 0 .4em .2em var(--glow-color);
       text-shadow: 0 0 .5em var(--glow-color);
       position: relative;
       transition: all 0.3s;
      }
      
      .check-button::after {
       pointer-events: none;
       content: "";
       position: absolute;
       top: 120%;
       left: 0;
       height: 100%;
       width: 100%;
       background-color: var(--glow-spread-color);
       filter: blur(2em);
       opacity: .7;
       transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
      }
      
      .check-button:hover {
       color: var(--btn-color);
       background-color: var(--glow-color);
       box-shadow: 0 0 1em .5em var(--glow-color),
              0 0 4em 2em var(--glow-spread-color),
              inset 0 0 .5em .5em var(--glow-color);
      }
      
      .check-button:active {
       box-shadow: 0 0 0.6em .5em var(--glow-color),
              0 0 2.5em 2em var(--glow-spread-color),
              inset 0 0 .5em .5em var(--glow-color);
      }

/*score*/
   #score {
    text-align:center;
    width: 15%;
    margin: auto;
    margin-top: 20px;
    margin-right: 15px;
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: .25em solid var(--glow-color);
    padding: 22px;
    color: var(--glow-color);
    font-size: 22px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .5em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .5em .2em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
   }
   
   #score::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: auto;
    width: auto;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
   }
    
   #score:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .2em var(--glow-color),
           0 0 2em 2em var(--glow-spread-color),
           inset 0 0 .5em .5em var(--glow-color);
   }

   #score:active {
    box-shadow: 0 0 0.6em .4em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .5em var(--glow-color);
   }
   
